html {
    scroll-behavior: smooth;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 1s;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    transition: all 1s;
    /* background: url(./images/mekuPageUnderConstructionMobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%; */
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}



/* Navigation Styles */
nav {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: #CD0000;
    padding: 1em 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.mekuNavLogo{
    height: 20px;
    width: 20px;
    background: url(./images/mekuNavLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav h2 {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.nav_links {
    width: 415px;
    /* background-color: black; */
    display: flex;
    display: none;
    justify-content: space-between;
    margin-left: 25%;
}

nav a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-bottom: solid #CD0000 0.1px;
    transition: all 0.5s;
}

nav a:hover {
    font-weight: 900;
    border-bottom: solid white 3px;
    transition: all 0.3s;
}

/* toggels menu */
.dropdown_menu_bar {
    width: 30px;
    height: 10px;
    background-color: white;
    background: url(./images/menuButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s;
}

/* menu hidden until toggled with (dropdown menu bar) */


.menu {
    width: 40%;
    height: 100%;
    /* set to display: none; while adjusting home (other component) styling */
    display: none;
    /* toggled to display (flex) instead of (none) */
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #44444465;
    position: fixed;
    top: 50px;
    left: 60%;
    z-index: 2;
    list-style: none;
}

.menu a {
    color: white;
    font-size: large;
    text-decoration: unset;
    border: none;
    transition: all 0.8s;
}

.menu a:hover {
    transition: all 0.5s;
}

.menu li {
    padding: 1em;
    text-align: center;
}

/* filter list */



.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 0;
    /* position: fixed;
    z-index: 2; */
    
}

.filter-section ul {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: solid #CD0000 1px;
    padding: 15px;
    border-radius: 15px;
    transition: all 1s;
    margin-top: 55px;
   
}
.filter-section ul:hover{
    padding: 20px;
    transition: all 0.5s;
}
.active,
.tv,
.music,
.fridges_freezers,
.kitchen_appliances,
.air_conditioners {
    color: black;
    text-align: center;
    font-size: smaller;
    font-weight: 200;
    transition: all 1s;
}

.active:hover,
.tv:hover,
.music:hover,
.fridges_freezers:hover,
.kitchen_appliances:hover,
.air_conditioners:hover{
    color: #CD0000;
    font-weight: 800;
    transition: all 0.5s;
}
.products{
    width: 300px;
    height: auto;
    /* background-color: black; */
    border-top: solid #CD0000 1px;
    border-bottom: solid #CD0000 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}
.product{
    background-color: beige;
        width: 200px;
        height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    transition: all 1s;
}

/* ////////// */
.product1_container,
.product2_container,
.product3_container,
.product4_container {
    background-color: white;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
    box-shadow: 2px 10px 15px 0px rgba(219, 219, 219, 0.75);
    transition: all 1s;
}

.product1_container:hover,
.product2_container:hover,
.product3_container:hover,
.product4_container:hover {
    width: 250px;
    height: 350px;
    cursor: pointer;
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
}

.product_cards_container img {
    width: 50%;
    transition: all 2s;
}

.product_cards_container img:hover {
    width: 60%;
    margin-top: -60px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.product_cards_container .description {
    font-weight: 800;
}


/* START of footer*/
footer {
    height: 468px;
    background-color: #CD0000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.white_bar {
    width: 100%;
    height: 6.7px;
    background-color: white;
    justify-self: flex-start;

}

footer h1 {
    font-size: 2rem;
    color: white;
}

.star_bar_divider {
    width: 80%;
    height: 20px;
    background: url(./images/starBar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer p {
    color: white;
}

.social_container {
    width: 150px;
    height: 33px;
    /* border: solid white 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_facebook,
.social_instagram {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: solid white 1px;
    text-align: center;
}

.social_facebook {
    background: url(./images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social_instagram {
    background: url(./images/Instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.end_point_copyright {
    color: white;
    justify-self: flex-end;
}

.end_point_copyright a {
    color: yellow;
    text-decoration: none;
    transition: all 0.8s;
}

.end_point_copyright a:hover {
    letter-spacing: 0.08cm;
    transition: all 0.5s;
}


/*  /////////////////////////////////// Responsive Styles/////////////////////////////////// */

@media only screen and (min-width: 480px) {

    /* styles adjusted for larger screens i.e. tablets and larger devices */
    body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height: 100vh;
            transition: all 1s;
            /* background: url(./images/mekuPageUnderConstruction.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; */
        }
    .container {
        width: 80%;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {

    /* Adjust styles for laptops and larger devices */
   
        nav {
            height: 10px;
            color: white;
            display: flex;
            justify-content: space-around;
            background-color: #CD0000;
            padding: 1em 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        .nav_links {
            width: 415px;
            /* background-color: black; */
            display: flex;
            justify-content: space-between;
            margin-left: 25%;
        }
    
        nav a {
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            border-bottom: solid #CD0000 0.1px;
            transition: all 0.5s;
        }
    
        nav a:hover {
            font-weight: 900;
            border-bottom: solid white 5px;
            transition: all 0.3s;
        }

        .dropdown_menu_bar{
            display: none;
            width: 20px;
            height: 10px;
            background-color: white;
        }
        .menu{
            display: none;
        }

  



/* start landing page */
                .landing_page {
                    background: url(./images/middleBarDesktop.svg);
                    background-repeat: no-repeat;
                    background-size:1006px;
                    background-position: center;
                    /* border: solid yellow 3px; */
                    height: 100vh;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: start;
                    margin-top: -20px;
                }

                .M_logo_and_action_buttons_container {
                    width: 718px;
                    height: 706px;
                    /* border: solid red 2px; */
                    background: url(./images/MekuElectronicsShopLogoDesktop.svg);
                    background-repeat: no-repeat;
                    background-size: 699px;
                
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all 1s;
                }

                .action_buttons_landing {
                    width: 250px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                                }

/* START carousel style code */
                  .carousel_new_items {
                      display: unset;
                      /* background-color: #444; */
                      width: 529px;
                      height: 586px;
                      align-self: center;
                      display: flex;
                      flex-direction: column;
                      margin-left: 150px;
                  }
        
                  .carousel-container {
                      max-width: 100%;
                      overflow: hidden;
                  }
        
                  .carousel {
                      display: flex;
                      transition: transform 0.5s ease-in-out;
                  }
        
                  .carousel-item {
                      min-width: 100%;
                  }
        
                  .navigation {
                      width: 50%;
                      /* background-color: #CD0000; */
                      align-self: center;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-around;
                      cursor: pointer;
                  }
/* END carousel style code */



/* START new arrivals page */

/* /////////////////////////////////////I WAS HERE!!!! */

.filter-section{
    flex-direction: column;
    /* border: solid yellow 2px; */
    height: auto;

}

.products {
    width: 90%;
    height: auto;
    background-color:unset;
    border-top: solid #CD0000 10px;
    border-bottom: solid #CD0000 10px;
    border-left: solid #cd00000f 0.1px;
    border-right: solid #cd00000f 0.1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.product {
    background-color: beige;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 50px;
    /* margin-left: 20px;
    margin-right: 20px; */
}


  
  .product_cards_container{
    height: 400px;
    width: auto ;
    /* background-color: blue; */
    flex-direction: row;
    padding: 0px 0px;
  }

  .product1_container,
  .product2_container,
  .product3_container,
  .product4_container {
      padding: 0px 15px;
      border-radius: 10px;
      box-shadow: 2px 10px 15px 0px rgba(199, 195, 195, 0.571);
      transition: all 1s;
  }

  .product1_container:hover,
  .product2_container:hover,
  .product3_container:hover,
  .product4_container:hover {
      width: 250px;
      height: 380px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.935);
      box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.75);
      transition: all 0.5s;
  }

/* /////////////////////////////////////I WAS HERE!!!! */
  /* location styles */

   .location_container {
        width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: url(./images/locationBackgroundDesktop.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-position-y: 50px;
   }
    /* testimonials */
   .google_testimonials {
       background-size: 50%;
   }

}


/*  /////////////////////////////////// Responsive Styles/////////////////////////////////// */

@media only screen and (min-width: 480px) {

    /* styles adjusted for larger screens i.e. tablets and larger devices */

    .container {
        width: 80%;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    footer {
            height: 468px;
            width: 100%;
            background-color: #CD0000;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 5px 0px;
    }
}

@media only screen and (min-width: 768px) {

    /* Adjust styles for laptops and larger devices */

    nav {
        height: 10px;
        color: white;
        display: flex;
        justify-content: space-around;
        background-color: #CD0000;
        padding: 1em 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav_links {
        width: 415px;
        /* background-color: black; */
        display: flex;
        justify-content: space-between;
        margin-left: 25%;
    }

    nav a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        border-bottom: solid #CD0000 0.1px;
        transition: all 0.5s;
    }

    nav a:hover {
        font-weight: 900;
        border-bottom: solid white 5px;
        transition: all 0.3s;
    }

    .dropdown_menu_bar {
        display: none;
        width: 20px;
        height: 10px;
        background-color: white;
    }

    .menu {
        display: none;
    }





    /* start landing page */
   

}