html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 4036px;
    transition: all 1s;
}

.container {
    width: 90%;
    margin: 0 auto;
}



/* Navigation Styles */
nav {
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: #CD0000;
    padding: 1em 0;
    flex-direction: row;
        justify-content: space-around;
        align-items: center;
    position: fixed;
    z-index: 2;
}
nav h2{
    font-weight: 200;
}
.nav_links{
    width:415px;
    /* background-color: black; */
    display: flex;
    display: none;
    justify-content: space-between;
    margin-left: 25%;
}
nav a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-bottom: solid #CD0000 0.1px;
    transition: all 0.5s;
}

nav a:hover {
    font-weight: 900;
    border-bottom: solid white 3px;
    transition: all 0.3s;
}

/* toggels menu */
 .dropdown_menu_bar {
     width: 30px;
     height: 10px;
     background-color: white;
     background: url(./images/menuButton.svg);
     background-repeat: no-repeat;
     background-position: center;
    background-size: contain;
    transition: all 1s;
 }
 
/* menu hidden until toggled with (dropdown menu bar) */


.menu{
    width: 40%;
    height: 100%;
    /* set to display: none; while adjusting home (other component) styling */
    display: unset;
    /* toggled to display (flex) instead of (none) */
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #44444465;
    position: fixed;
    top: 55px;
    left: 50%;
    z-index: 2;
    list-style: none;
}
.menu a{
    color: white;
    font-size: large;
    text-decoration: unset;
    border: none;
    transition: all 0.8s;
}
.menu a:hover{ 
    transition: all 0.5s;
}
.menu li{
    padding: 1em;
    text-align: start;
}

/* start landing page */

.landing_page{
    /* border: solid yellow 3px ; */
    height: 442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.M_logo_and_action_buttons_container{
    width: 291px;
    height: 219px;
    /* border: solid red 2px; */
    background: url(./images/MekuElectronicsShopLogoMobile.svg);
    background-repeat: no-repeat;
    background-size: 291px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 1s;

}

.action_buttons_landing{
width: 250px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.product_button{
    width: 131px;
    height: 38px;
    color: white;
    background-color: #CD0000;
    border: none;
    transition: all 1s;
}
.learn_more_button{
    width: 98px;
    height: 38px;   
    background-color: white;
    border: none;
    border-bottom:solid #CD0000 4px;
    transition: all 0.5s;
}
.product_button:hover{
    font-weight: 800;
    /* border-bottom: solid #CD0000 6px; */
    transition: all 0.5s;
    letter-spacing: 0.08cm;
    animation: productButton forwards 1s;
}
@keyframes productButton {
    0%{
        background-color: #CD0000;
    }
    50%{
        background-color: #ffffff;
        color: #CD0000;
    }
    100%{
        background-color: #CD0000;
    }
}
.learn_more_button:hover{
    font-weight: 800;
    border-bottom: solid #CD0000 6px;
    transition: all 0.5s;
}

  .carousel_new_items {
    display: none;
  }


/* Main Content Styles */
main {
    padding: 1em 0;
}

 .new_arrivals_page {
     width: 100%;
     height: 1537px;
     /* background-color: #CD0000; */
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 15px 5px;
 }
 .new_arrivals_page h2{
    color: #CD0000;
 }
  .new_arrivals_page p {
      color: rgb(169, 169, 169);
  }
 
 .product_cards_container{
    height: 1400px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
 }

.product1_container,
.product2_container,
.product3_container,
.product4_container {
    background-color: white;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
    box-shadow: 2px 10px 15px 0px rgba(219, 219, 219, 0.75);
    transition: all 1s;
}

.product1_container:hover,
.product2_container:hover,
.product3_container:hover,
.product4_container:hover {
    width: 250px;
    height: 350px;
    cursor: pointer;
    box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
}

 .product_cards_container img{
    width: 50%;
    transition: all 2s;
 }
 .product_cards_container img:hover{
    width: 60%;
    margin-top: -60px;
    margin-bottom: 20px;
    transition: all 0.5s;
 }
 .product_cards_container .description{
    font-weight: 800;
 }

/* start of about page styling */
.about_page{
    width: 100%;
    height: 3177px;
    /* border: solid saddlebrown 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* 'get a discount on our best products !' */
.about_page h2{
    font-size: 2.5rem;
    font-weight: 200;
    color: #CD0000;
    text-align: center;
}
/* 'what can we help you with?' */
.about_page h3{
    font-size: 1.2rem;
    font-weight: 200;
    color: #CD0000;
    letter-spacing: 0.04cm;
}
.divider{
    width: 279px;
    height: 3.4px;
    background-color: #CD0000;
}

.category_tv_and_music h3,
.category_fridges_and_freezers h3,
.category_kitchen_appliances h3,
.category_air_conditioners h3{
    font-size: 1.2rem;
    font-weight: 100;
    color: #CD0000;
    letter-spacing: 0.04cm;
    text-align: center;
    transition: all 1s;
}
.category_tv_and_music h3:hover, 
.category_fridges_and_freezers h3:hover,
.category_kitchen_appliances h3:hover,
.category_air_conditioners h3:hover{
    cursor: pointer;
    font-weight: 800;
    transition: all 0.5s;
}
.about_page p {
    font-size: 2rem;
    font-weight: 200;
    color: rgb(150, 150, 150);
}
.meku_van_graphic{
    width: 192px;
    height: 60px;
}
.see_all_button{
    width: 188px;
    height: 44px;
    background-color: #CD0000;
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: all 1s;
}
.see_all_button:hover{
    cursor: pointer;
    font-weight: 800;
    /* border-bottom: solid #CD0000 6px; */
    transition: all 0.5s;
    letter-spacing: 0.08cm;
    animation: seeAllButton forwards 1s;
}
@keyframes seeAllButton {
    0% {
        background-color: #CD0000;
    }

    50% {
        background-color: #ffffff;
        color: #CD0000;
    }

    100% {
        background-color: #CD0000;
    }
}

/* about card section */
.about_meku_card_container{
    width:95%;
    height: auto;
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_card{
    width: 95%;
    /* height: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    background-color: #CD0000;
}
.meku_avatar_dp{
    width: 77px;
    height: 77px;
    border-radius:50%;
    border: solid white 1px;
    background: url(./images/mekuAvatar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    margin-top: -50px;
}
.about_card h4{
    font-size: larger;
    color: white;
    text-align: unset;
    align-self: self-start;
    margin-left: 10px;
    border-bottom: solid white 5px;
}
.about_card p {
    color: white;
}
.about_card .signature{
    font-weight:100;
    letter-spacing: 1.5px;
    align-self: flex-end;
    color: white;
}
.location_container{
    width: 100%;
    height: auto;
    /* border: solid yellow 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./images/locationBackgroundDesktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position-y: 100px;
}
.location_graphic{
    width: 25px;
    height: 46px;
    background: url(./images/locationMarkMobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map{
    width: 60%;
    height: auto;
    transition: all 1s;
}
.map:hover{
    width: 80%;
    cursor: grab;
    transition: all 0.5s;

}
.location_description p{
    font-size: 1rem;
    text-align: center;
    color: white;
}
.testimonials_container{
    width: 100%;
    height: 313px;
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google_testimonials{
    width: 90%;
    height: 200px;
    /* border: solid blue 1px; */
    background: url(./images/testimonialCards.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
/* end of about page styling */

/* START of footer*/
footer{
    height: 468px;
    background-color: #CD0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.white_bar{
    width: 100%;
    height: 6.7px;
    background-color: white;
    justify-self: flex-start;

}
footer h1{
    font-size: 2rem;
    color: white;
}

.star_bar_divider{
    width: 80%;
    height: 20px;
    background: url(./images/starBar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
footer p {
    color: white;
}
.social_container{
    width: 150px;
    height: 33px;
    /* border: solid white 1px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social_facebook,
.social_instagram{
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: white;
    border: solid white 1px;
    text-align: center;
}
.social_facebook{
    background: url(./images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.social_instagram{
    background: url(./images/Instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.end_point_copyright{
    color: white;
}
.end_point_copyright a{
    color: yellow;
    text-decoration: none;
    transition: all 0.8s;
}
.end_point_copyright a:hover {
    letter-spacing: 0.08cm;
    transition: all 0.5s;
}
/*  /////////////////////////////////// Responsive Styles/////////////////////////////////// */

@media only screen and (min-width: 480px) {

    /* styles adjusted for larger screens i.e. tablets and larger devices */

    .container {
        width: 80%;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {

    /* Adjust styles for laptops and larger devices */
   
        nav {
            height: 10px;
            color: white;
            display: flex;
            justify-content: space-around;
            background-color: #CD0000;
            padding: 1em 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        .nav_links {
            width: 415px;
            /* background-color: black; */
            display: flex;
            justify-content: space-between;
            margin-left: 25%;
        }
    
        nav a {
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            border-bottom: solid #CD0000 0.1px;
            transition: all 0.5s;
        }
    
        nav a:hover {
            font-weight: 900;
            border-bottom: solid white 5px;
            transition: all 0.3s;
        }

        .dropdown_menu_bar{
            display: none;
            width: 20px;
            height: 10px;
            background-color: white;
        }
        .menu{
            display: none;
        }

  



/* start landing page */
                .landing_page {
                    background: url(./images/middleBarDesktop.svg);
                    background-repeat: no-repeat;
                    background-size:1006px;
                    background-position: center;
                    /* border: solid yellow 3px; */
                    height: 100vh;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: start;
                    margin-top: -20px;
                }

                .M_logo_and_action_buttons_container {
                    width: 718px;
                    height: 706px;
                    /* border: solid red 2px; */
                    background: url(./images/MekuElectronicsShopLogoDesktop.svg);
                    background-repeat: no-repeat;
                    background-size: 699px;
                
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all 1s;
                }

                .action_buttons_landing {
                    width: 250px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                                }

/* START carousel style code */
                  .carousel_new_items {
                      display: unset;
                      /* background-color: #444; */
                      width: 529px;
                      height: 586px;
                      align-self: center;
                      display: flex;
                      flex-direction: column;
                      margin-left: 150px;
                  }
        
                  .carousel-container {
                      max-width: 100%;
                      overflow: hidden;
                  }
        
                  .carousel {
                      display: flex;
                      transition: transform 0.5s ease-in-out;
                  }
        
                  .carousel-item {
                      min-width: 100%;
                  }
        
                  .navigation {
                      width: 50%;
                      /* background-color: #CD0000; */
                      align-self: center;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-around;
                      cursor: pointer;
                  }
/* END carousel style code */



/* START new arrivals page */

  .new_arrivals_page {
      width: 100%;
      height: 650px;
      background-color: #CD0000;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px 0px 30px 0px;
  }
  .new_arrivals_page h2{
    color: white;
  }
  .new_arrivals_page p{
    color: white;
    font-size: 4rem;
  }
  .product_cards_container{
    height: 400px;
    width: 100% ;
    background-color: #CD0000;
    flex-direction: row;
    padding: 0px 0px;
  }

  .product1_container,
  .product2_container,
  .product3_container,
  .product4_container {
      padding: 0px 15px;
      border-radius: 10px;
      box-shadow: 2px 10px 15px 0px rgba(68, 10, 10, 0.75);
      transition: all 1s;
  }

  .product1_container:hover,
  .product2_container:hover,
  .product3_container:hover,
  .product4_container:hover {
      width: 250px;
      height: 380px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.935);
      box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.75);
      transition: all 0.5s;
  }

  /* location styles */

   .location_container {
        width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: url(./images/locationBackgroundDesktop.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-position-y: 50px;
   }
    /* testimonials */
   .google_testimonials {
       background-size: 50%;
   }

}